
<!-- <input type="file" style="display:none;" #cargador>

<button (click)="cargador.click()">Cargar archivo</button> -->

<app-menu></app-menu>

<div class="contenedor">
    
    <div>
        <!-- Se podría haber escrito: '$event.target.value' directamente, pero el compilador no reconoce la propiedad 'value' -->
        <input type="text" (input)="asignarTitulo($event)">
    </div>

    <div>
        <input type="checkbox" checked (change)="ocultar = !ocultar" />Ocultar
    </div>

    <app-ciclo-de-vida *ngIf="ocultar" [titulo]="title"></app-ciclo-de-vida>
    <!-- <app-rating (rated)="manejarRated($event)"></app-rating> -->
    
    <!-- <h2>En cines</h2> 

    <app-listado-peliculas [peliculas]="peliculasEnCines"></app-listado-peliculas>
    

    <h2>Futuros estrenos</h2> 

    <app-listado-peliculas [peliculas]="peliculasProximosEstrenos"></app-listado-peliculas> -->
</div>
