<form>
    <mat-form-field>  
        <input 
            type="text" 
            placeholder="Selecciona los actores" 
            matInput
            [formControl]="control" 
            [matAutocomplete]="auto"/>
    </mat-form-field>

    <mat-autocomplete #auto (optionSelected)="optionSelected($event)">
        <mat-option *ngFor="let opcion of actores" [value]="opcion">
            <img [src]="opcion.foto"/> {{ opcion.nombre }}
        </mat-option>

    </mat-autocomplete>

</form>


<ul>
    <li *ngFor="let actor of actoresSeleccionados"> {{ actor.nombre }}</li>
</ul>
