<mat-tab-group>
    <mat-tab label="Editar">
        <mat-form-field appearance="fill" (change)="changeMarkdown.emit($any($event.target).value);">  
            <mat-label>{{ placeHoldertextarea }}</mat-label>
            <!-- ngModel nos permit utilizar Binding de doble vía (Cfr. clase #62) -->
            <textarea [(ngModel)]="contenidoMarkdown" matInput></textarea>
        </mat-form-field>
    </mat-tab>

    <mat-tab label="Preview">
        <markdown [data]="contenidoMarkdown" ngPreserveWhitespaces></markdown>
    </mat-tab>
</mat-tab-group>
