
<app-mostrar-errores [errores]="errores"></app-mostrar-errores>

<form (submit)="guardarCambios()" [formGroup]="form">
    <mat-form-field appearance="outline">  
        <!-- Es asterisco indica (visualmente) que es un campo requerido -->
        <mat-label>Título*</mat-label>
        <input formControlName="titulo" matInput/>
        <mat-error>El campo título es requerido</mat-error>
    </mat-form-field>

    <div class="contenedor-checkbox">
        <mat-checkbox formControlName="enCines">En cines</mat-checkbox>
    </div>

    <mat-form-field appearance="outline">  
        <mat-label>Trailer</mat-label>
        <input formControlName="trailer" matInput/>
    </mat-form-field>
    

    <mat-form-field appearance="outline">  
        <mat-label>Fecha de lanzamiento</mat-label>
        <input formControlName="fechaLanzamiento" matInput [matDatepicker]="picker"/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <h4>Seleccionar poster</h4>
    <app-input-img 
        [urlImagenActual]="modelo?.poster"
        (archivoSeleccionado)="archivoSeleccionado($event)">
    </app-input-img>

    <h4>Resumen de la película</h4>
    <app-input-markdown 
        [contenidoMarkdown]="modelo?.resumen"
        (changeMarkdown)="cambioMarkdown($event)" 
        [placeHoldertextarea]="'Resumen'">
    </app-input-markdown>


    <h4>Selecciona los géneros</h4>
    <app-selector-multiple 
        [Seleccionados]="generosSeleccionados"
        [NoSeleccionados]="generosNoSeleccionados">
    </app-selector-multiple>


    <h4>Selecciona los cines</h4>
    <app-selector-multiple 
        [Seleccionados]="cinesSeleccionados"
        [NoSeleccionados]="cinesNoSeleccionados">
    </app-selector-multiple>


    <h4>Selecciona los actores</h4>
    <app-autocomplete-actores [actoresSeleccionados]="actoresSeleccionados">
    </app-autocomplete-actores>


    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Guardar cambios
        </button>    

        <a mat-stroked-button routerLink="/">
            Cancelar
        </a>
    </div>
</form>

