<form (submit)="guardarCambios()" [formGroup]="form">
    <mat-form-field appearance="outline">  
        <!-- Es asterisco indica (visualmente) que es un campo requerido -->
        <mat-label>Nombre*</mat-label>
        <input formControlName="nombre" matInput/>
        <mat-error *ngIf="form.invalid">El campo nombre es requerido</mat-error>
    </mat-form-field>



    <div>
        <app-mapa></app-mapa>
    </div>

    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Guardar cambios
        </button>    

        <a mat-stroked-button routerLink="/cines">
            Cancelar
        </a>
    </div>


</form>
